<h1 class='header'><%= @article.title %></h1>

<p><%= @article.body %></p>

<p class='block-header'>
  Author:
  <%= link_to @article.author.full_name, author_path(@article.author.id), class: 'link' %> 
</p>

<div className='button-container'>
  <%= link_to "Edit", edit_article_path(@article), class: 'button'%>
  <%= link_to "Delete", article_path(@article), class: 'button button_delete', data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>

<% if @article.comments.any? %>
  <h2 class='block-header'>Comments:</h2>
  <%= render @article.comments %>
<% end %>

<%= render 'comments/form' %>