<p>
  <strong>First Name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<h2>Articles</h2>
<ul>
  <% @author.articles.each do |article| %>
    <li><%= link_to article.title, article %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Delete', author_path(@author), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
