<div class='list'>
  <p>
    First Name:
    <%= @author.first_name %>
  </p>

  <p>
    Last Name:
    <%= @author.last_name %>
  </p>

  <p>
    Email:
    <%= @author.email %>
  </p>

  <% if @author.articles.any? %>
    <p>Articles:</p>
    <ul>
      <% @author.articles.each do |article| %>
        <li><%= link_to article.title, article, class:'link' %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No articles found.</p>
  <% end %>
</div>

<div className='button-container'>
  <%= link_to 'Edit Author', edit_author_path(@author), class: 'button' %> 
  <%= link_to 'Delete Author', author_path(@author), class: 'button button_delete', data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
</div>
