<!DOCTYPE html>
<html>
<head>
  <title>Your Rails App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track': 'reload', as: 'style' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', as: 'style' %>
  <%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload', as: 'style' %>
  <%= javascript_importmap_tags %>
</head>
<body>

<header>
  <div class='logo'>
    <%= link_to root_path do %>
      <%= image_tag('logo.svg', alt: 'Logo') %>
    <% end %>
  </div>
  <nav>
    <ul>
      <li><%= link_to 'Articles', articles_path %></li>
      <li><%= link_to 'Authors', authors_path %></li>
    </ul>
  </nav>
</header>

<div class='page'>
  <%= yield %>
</div>

</body>
</html>
